 <div class="header">
        <h1>Charlotte Park Finder App</h1>
        <h2>About the Project/Developers</h2>    
</div>

<div class="pure-g about">

     <p class="pure-u-1">
         <br>
        <p> 
            Charlotte Parks is a new way to find your custom outdoor experience. The idea was created by a group of UNCC graduate coding students who felt the city needs a platform to provide parks based on interest. </p>
         <p> The purpose is to allow you to find the specific park of interest. 
        </p>
</p>
<br>
          
            </p>
        </p>
    </p>
</div>
   