<div class="header">
        <h1> Add a Park </h1>
        <h2 id="subheader">Add your favorite park to our database</h2>
</div>
<div class="add-park content">
    <form class="pure-form pure-form-stacked" id="new-park">
    {{!-- <form class="pure-form pure-form-stacked " action="/api/parks" target="_blank" method="POST"> --}}
        <fieldset class="pure-group">
        
            <input type="text" name="name" placeholder="Park Name" class="pure-input-1"><br>

            <input type="text" name="address" placeholder="Address" class="pure-input-1"><br>

        </fieldset>
        
        <div class="pure-g form-boxes">
            <div class="pure-control-group pure-u-1-2">
                <input type="text" name="size" placeholder="Size of Park (acres)" class="pure-input-1"> Size <br>           
                <input type="checkbox" name="handiAccess" value=1> Wheelchair Accessible <br>                            
                <input type="text" name="restrooms" placeholder="# of Restrooms"> Restrooms <br>
                <input type="file" name="filetoupload" multiple="multiple" accept="image/*" id="img-file"><br>
            </div>
        </div>

        <button type="submit"  class="pure-button pure-button-primary submit-btn" >Submit</button>
        

       
    </form>
</div>
    {{!-- image upload input  --}}


{{!-- </form>

<form action="/api/parks" target="_blank" method="POST">
  Park Name:<br>
  <input type="text" name="parkName">
  <br>
  Size:<br>
  <input type="number" name="size">
  <br>
    Handicap Access:<br>
  <input type="checkbox" name="handiAcces" value="true"><br>
  Restrooms:<br>
  <input type="checkbox" name="restrooms" value="true"><br>
  <input type="submit" value="Submit">
  onClick="this.form.reset()"
  value="reset form" 
</form> --}}