{{!-- add features table to db? Would allow use of another hbs partial here --}}
<div class="header">
        <h1> All Park Features </h1>
        <h2>Select a feature for more information</h2>
</div>

<ul class="pure-g" id="all-features">
    
      <li class="pure-u-20-24 bball">

        <a href="/features/basketball">
          <div class="back">          
            <img src="./assets/images/png/basketball.png">
            <h3>Basketball Courts</h3>
          </div> 
        </a>          
      </li>
      <li class="pure-u-20-24 dog">
        <a href="/features/dogPark">
          <div class="back">
            <img src="./assets/images/png/dog-park.png">
            <h3>Dog Parks</h3>
          </div>         
        </a> 
      </li>
      <li class="pure-u-20-24 golf">
        <a href="/features/golf">
          <div class="back">
            <img src="./assets/images/png/golf.png">
             <h3>Golf Courses</h3>
          </div>
        </a> 
      </li>
        <li class="pure-u-20-24 wheelchair">
        <a href="/features/handiAces">
          <div class="back">
            <img src="./assets/images/png/wheelchair-access.png">
            <h3>Wheelchair Accessible</h3>
          </div>
        </a> 
      </li>
      <li class="pure-u-20-24 play">
        <a href="/features/playgrounds">
          <div class="back">
           <img src="./assets/images/png/playground.png">
           <h3>Playgrounds</h3>
          </div>
        </a> 
      </li>
      <li class="pure-u-20-24 soccer">
        <a href="/features/soccer">
          <div class="back">
           <img src="./assets/images/png/soccer.png">
           <h3>Soccer Fields</h3>
           </div>
        </a>
      </li>
      <li class="pure-u-20-24 tennis">
        <a href="/features/tennis">
          <div class="back">
           <img src="./assets/images/png/tennis.png">
           <h3>Tennis Courts</h3>
           </div>
        </a>
      </li>
      <li class="pure-u-20-24 trails">
        <a href="/features/trails">
          <div class="back">
            <img src="./assets/images/png/trails.png">
            <h3>Hiking Trails</h3>
          </div>
        </a>
      </li>
      <li class="pure-u-20-24 vending">
        <a href="/features/vendingMachines">
          <div class="back">
           <img src="./assets/images/png/vending-machine.png">
           <h3>Vending Machines</h3>
          </div>
        </a>
      </li>
      <li class="pure-u-20-24 views">
        <a href="/features/views">
          <div class="back">
           <img src="./assets/images/png/views.png">
           <h3>City Views</h3>
           </div>
        </a>
      </li>
      <li class="pure-u-20-24 water">
        <a href="/features/waterSports">
          <div class="back">
           <img src="./assets/images/png/water.png">
           <h3>Water Activities</h3>
          </div>
        </a>
      </li>
      <li class="pure-u-20-24 gym">
        <a href="/features/workoutGear">
          <div class="back">
           <img src="./assets/images/png/workout.png">
           <h3>Workout Equipment</h3>
          </div>
        </a>
      </li>      
    
</ul>
