<div class="header">
        <h1> Sign into your account</h1>
        <h2 id="subheader"></h2>
</div>
<div class="sign-in content">
    <form class="pure-form pure-form-stacked" id="sign-in">
        <fieldset class="pure-group">
        
            <input type="text" name="name" placeholder="Email here" class="pure-input-1"><br>

            <input type="text" name="password" placeholder="Password" class="pure-input-1"><br>
            <select  name="UserID" class="pure-input-1">
                
                <option disabled selected value=""></option>
                {{#each users}}
                <option value={{email}}></option>
                {{/each}}
            </select><br>
        </fieldset>

        <button type="submit"  class="pure-button pure-button-primary submit-btn" >Submit</button>
        
       
    </form>
</div>