body {
    background-color: floralwhite;
    position:relative;
    
    bottom: 3.5em;
    
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
     margin-top: 0.5em;
     
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #023004;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: rgb(10, 149, 10);
            color: #fff;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: rgb(14, 182, 14);
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

.menu-link {
    position: fixed;
    display: block; 
    top: 0;
    left: 0; 
    background: /*#000;*/ rgb(5, 77, 5);
    background:/* rgba(0,0,0,0.7); */rgb(5, 77, 5, 0.7);
    font-size: 10px; 
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

 .body {
     min-height: 100%;
 }


/* Extended Grid Styles */
/* ============================================================================== */
.pure-g, .pure-u-4-5, .pure-u-1-3 {
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;

}

.pure-u-4-5 {
    margin: 2em auto;
}




/* Footer & Social Links, Icon credit link */
/* ===================================================================== */

footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5em;    
    background-color: green;
    color: white;
    text-align: center; 
    font-size: 1em;   
}

.social svg {
    margin:.2em .5em 0 .5em;
   }

.social a, .social a:visited {
    color: white;
}

.cred  {
   color: green;
    margin-bottom: .1em;
    margin-top: 2em;
    font-size: .5em;
}

.cred a, .cred a:focus, .cred a:visited{
    text-decoration: none;
    color: green;
}
.cred:hover, .cred a:hover {
    background: rgb(14, 182, 14);
    color: white;
}




/* Form/Index Styles */
/* =============================================================================== */
.form-boxes {
    text-align: left;
    padding-left: 1em;
    background-color: rgba(13, 138, 13, 0.705);
}   

.form-boxes input {
    margin: .5em auto;
}

.submit-btn {
    margin: 1em auto;
    border-radius: 10px;

} 

#map {
    height: 30em;
    border: 2px solid green;
    border-radius: 15px;
}

#map-check {
    margin: .5em auto;
}

.no {
    border: none;
}

#layout {
    
    background-color: floralwhite;
}

/*            Icon Stlyes              */
/* =============================================================================== */

.icon {
    height:2em;
    width: 2em;
    margin: .2em;
    padding: .1em;
    border: 1px solid black;
    border-radius: 10px;
}

.icon-list {
    background-color: #0080009e;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: .3em;
    border: .1em solid white;
    border-radius: .5em;

}

.icon-list li {
    display: inline-block;
}


/* all features list */
/* ==================================================================== */
#all-features {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
    background-color: rgb(100, 120, 100, .5);
}

#all-features img {
   border: 2px solid black;
   border-radius: .5em;
   float: left;
   padding: .1em;

}

#all-features li {
    display: inline-block;
    border: 2px solid green;
    margin: 1em;
    padding: 1em;
    text-align: left;
    background-size: cover;
    border-radius: .5em;
    
}

.back {
    background-color: #0080009e;
    width: 60%;
    margin: 0 auto;
    border: .1em solid white;
    border-radius: .5em;
    padding: .2em;
}

#all-features h3 {
    padding-left: 4.5em;
}

#all-features a:-webkit-any-link {
    text-decoration: none;
    color:white;
}
    /* all features backgrounds */
    /* ====================================================================== */
    .bball{ 
        background-image: url("./images/parks/basketball.jpg");
        
    }
    .dog { 
        background-image: url("./images/parks/dogpark.jpg");
        background-position: center;
    }
    .golf { 
        background-image: url("./images/parks/golf.jpg");
    }
    .wheelchair{ 
        background-image: url("./images/parks/wheelchair.jpg");
        background-position: center;
    }
    .play{ 
        background-image: url("./images/parks/playground.jpg");
        background-position: center;
    }
    .soccer{ background-image: url("./images/parks/soccer.png");}
    .tennis{ 
        background-image: url("./images/parks/tennis.jpg");
        background-position: center;
    }
    .trails{ 
        background-image: url("./images/parks/trails.jpg");
        background-position: center;
    }
    .vending{ 
        background-image: url("./images/parks/vending-machines.jpg");
        background-position: center;
    }
    .views{  
        background-image: url("./images/parks/views.jpg");
        background-position: center;
    }
    .water{ 
        background-image: url("./images/parks/water.jpg");
        background-position: center;
    }
    .gym{ 
        background-image: url("./images/parks/gym.jpg");
        background-position: center;
    }




/* Add Park Styles */
/* ===================================================================== */

.add-park {
    margin-bottom: 4em;
}

.solo {
    color: white;
    background-size: cover;
    font-weight: bold;
    text-shadow: .1em .1em .1em black;
    background-position: center;
    background-color:  rgba(30, 167, 26, 0.671);
    
}

 .solo a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

/* all-parks display */
/* ========================================================= */

.all {
    width: 90%;
    background-color: rgb(100, 120, 100, .6);
    margin: 0 auto;
}

.info {
    background-color:  rgba(30, 167, 26, 0.671);
    width: 55%;
    margin: 0 auto;
}

.info h6 {
    position: relative;
    bottom: 1.5em;
}

.box {
    border: .2em solid white;
    margin-bottom: -.2em;
    height: 15em;
    text-align: left;
    padding-left: 2em;
    text-shadow: .2em .2em .2em green;
    /* background-color: rgba(30, 167, 26, 0.671); */
}

.parcon {
 padding-top: 1em;
 
}

.parcon ul {
    background-color: rgba(31, 167, 26, 0.75);
}

/* about */
/* =============================================================================== */
.about {
    width: 90%;
    margin: 0 auto;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }


}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }

    #map {
        height: 20em;
        border: 3px solid green;
    }

    .icon {
        height: 50%;   
       }
}

/* smallest styles */
/* ========================================================================= */
@media (max-width:500px){
    .icon-list {
        width: 65%;
    }
    .icon-list li {
        width: 15%;
        margin: 0 .2em;
        position: relative;
        right: 1em;
    }
    .info {
        width: 65%;
    }

    .info h2 {
        font-size: 70%;
    }

    .info h6 {
        font-size: 50%;
    }

    #all-features li {
        display: inline-block;
        border: 2px solid green;
        margin: 1em auto;
        padding: 1em;
        text-align: left;
        position: relative;
        right: 1em;

    }
    #all-features li h3 {
        font-size: 60%;
        position: relative;
        left: .2em;
    }
    #all-features img {
        width: 1.5em;
    }

    .back {
        width: 90%;
    }

    .header {
        font-size: 70%;
        margin-top: 2em;
    }
    .form-boxes {
        font-size: 60%;
    }
    footer {
        height: 3em;
    }

    .cred {
        font-size: .5em;
        position: relative;
        bottom: .3em;
    }

    .social svg {
       font-size: 2em;
       margin: .1em;
    }
}