<ul>

{{#each parks}}
   
    <li class="pure-u-4-5 a-z">
        <a href="/{{parkName}}"><h2>{{parkName}}</h2></a>
        <h6>{{address}}</h6>
        <h6>Size: {{size}}</h6>
        {{!-- partial for icon list --}}
        {{> parks/park-block}}
        
    </li> 

{{/each}}
   
</ul>