  <ul class="icon-list">
	{{#if restrooms}} 
		<li><a href="/features/restroom">
			<img src="/assets/images/png/restrooms.png" class="pure-img icon" alt="Restrooms available">
		</a></li>
	{{/if}}
	{{#if handiAcces}}
		<li><a href="/features/handiAcess">
			<img src="/assets/images/png/wheelchair-access.png" class="pure-img icon" alt="Wheel Chair Accessible">
		</a></li>
	{{/if}} 
	{{#if basketball}}
		<li><a href="/features/basketball">
			<img src="/assets/images/png/basketball.png" class="pure-img icon" alt="Basketball Court">
		</a></li>
	{{/if}}
		{{#if dogPark}}
		<li><a href="dogPark">
			<img src="/assets/images/png/dog-park.png" class="pure-img icon" alt="Dog Park">
		</a></li>
	{{/if}}
		{{#if golf}}
		<li><a href="/features/golf">
			<img src="/assets/images/png/golf.png" class="pure-img icon" alt="Golf">
		</a></li>
	{{/if}}
		{{#if playground}}
		<li><a href="/features/playground">
			<img src="/assets/images/png/playground.png" class="pure-img icon" alt="Playground">
		</a></li>
	{{/if}}
		{{#if soccer}}
		<li><a href="/features/soccer">
			<img src="/assets/images/png/soccer.png" class="pure-img icon" alt="Soccer Fields">
		</a></li>
	{{/if}}
			{{#if tennis}}
		<li><a href="/features/tennis">
			<img src="/assets/images/png/tennis.png" class="pure-img icon" alt="Tennis Courts">
		</a></li>
	{{/if}}
			{{#if trails}}
		<li><a href="/features/trails">
			<img src="/assets/images/png/trails.png" class="pure-img icon" alt="Hiking Trails">
		</a></li>
	{{/if}}
			{{#if vendingMachines}}
		<li><a href="/features/vendingMachines">
			<img src="/assets/images/png/vending-machine.png" class="pure-img icon" alt="Vending Machines">
		</a></li>
	{{/if}}
			{{#if views}}
		<li><a href="/features/views">
			<img src="/assets/images/png/views.png" class="pure-img icon" alt="views">
		</a></li>
	{{/if}}
			{{#if waterSports}}
		<li><a href="/features/waterSports">
			<img src="/assets/images/png/water.png" class="pure-img icon" alt="Water Activities">
		</a></li>
	{{/if}}
			{{#if workoutGear}}
		<li><a href="/features/wourkoutGear">
			<img src="/assets/images/png/workout.png" class="pure-img icon" alt="Workout Gear">
		</a></li>
	{{/if}}
 </ul>